@font-face {
    font-family: "a_Stamper";
    src: url("../fonts/AStamperBold.eot");
    src: url("../fonts/AStamperBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/AStamperBold.woff2") format("woff2"), url("../fonts/AStamperBold.woff") format("woff"),
        url("../fonts/AStamperBold.svg#AStamperBold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    outline: none !important;
}
body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 100vh;
}
.game {
    width: 980px;
    height: 630px;
    z-index: 3;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        background-image: url("../images/furniture.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 980px;
        height: 630px;
        z-index: 2;
    }
    &::before {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, #149585, #0f8b7c, #098072, #047669, #006c60);
    }
    &__ladder {
        position: absolute;
        left: 393px;
        top: 469px;
        width: 60px;
        height: 50px;
        z-index: 4;
    }
    &__flower {
        position: absolute;
        left: 355px;
        top: 475px;
        width: 55px;
        height: 69px;
        z-index: 8;
    }
    &__end-point {
        position: absolute;
        left: 847px;
        top: 152px;
        width: 44px;
        height: 34px;
        z-index: 7;
    }
    &__path {
        position: absolute;
        background-image: url("../images/path.svg");
        background-size: contain;
        background-position: 2px -12px;
        background-repeat: no-repeat;
        width: 980px;
        height: 630px;
        z-index: 5;
    }
    &__girl {
        position: absolute;
        width: 980px;
        height: 630px;
        top: -60px;
        left: -53px;

        span {
            offset-rotate: 0deg;
            position: absolute;
            background-image: url("../images/girl.png");
            width: 21px;
            height: 69px;
            z-index: 66;
            offset-distance: 0;
            offset-path: path(
                "M 481.654 524.326 C 479.987 524.326 477.832 525.504 476.654 524.326 C 476.154 523.826 476.154 522.826 475.654 522.326 C 475.418 522.09 474.89 522.561 474.654 522.326 C 474.418 522.09 474.89 521.561 474.654 521.326 C 474.183 520.854 473.125 521.797 472.654 521.326 C 472.418 521.09 472.89 520.561 472.654 520.326 C 471.987 519.659 469.321 520.992 468.654 520.326 C 468.418 520.09 468.89 519.561 468.654 519.326 C 468.154 518.826 466.154 519.826 465.654 519.326 C 465.418 519.09 465.89 518.561 465.654 518.326 C 465.183 517.854 464.125 518.797 463.654 518.326 C 463.418 518.09 463.89 517.561 463.654 517.326 C 463.154 516.826 461.154 517.826 460.654 517.326 C 460.418 517.09 460.89 516.561 460.654 516.326 C 460.183 515.854 459.125 516.797 458.654 516.326 C 458.154 515.826 458.154 514.826 457.654 514.326 C 457.183 513.854 456.125 514.797 455.654 514.326 C 455.183 513.854 456.125 512.797 455.654 512.326 C 455.418 512.09 454.89 512.561 454.654 512.326 C 454.418 512.09 454.89 511.561 454.654 511.326 C 454.154 510.826 453.154 510.826 452.654 510.326 C 452.154 509.826 452.154 508.826 451.654 508.326 C 451.418 508.09 450.89 508.561 450.654 508.326 C 450.183 507.854 451.125 506.797 450.654 506.326 C 450.418 506.09 449.89 506.561 449.654 506.326 C 449.183 505.854 450.125 504.797 449.654 504.326 C 449.418 504.09 448.89 504.561 448.654 504.326 C 448.183 503.854 449.125 502.797 448.654 502.326 C 448.154 501.826 447.154 501.826 446.654 501.326 C 446.183 500.854 447.125 499.797 446.654 499.326 C 446.418 499.09 445.89 499.561 445.654 499.326 C 445.154 498.826 445.154 497.826 444.654 497.326 C 444.418 497.09 443.89 497.561 443.654 497.326 C 443.183 496.854 444.125 495.797 443.654 495.326 C 443.418 495.09 442.89 495.561 442.654 495.326 C 442.418 495.09 442.89 494.561 442.654 494.326 C 442.183 493.854 441.125 494.797 440.654 494.326 C 440.183 493.854 441.125 492.797 440.654 492.326 C 440.154 491.826 439.154 491.826 438.654 491.326 C 438.183 490.854 439.125 489.797 438.654 489.326 C 438.183 488.854 437.125 489.797 436.654 489.326 C 436.418 489.09 436.89 488.561 436.654 488.326 C 436.127 487.799 435.321 487.659 434.654 487.326 C 434.058 487.028 433.125 487.797 432.654 487.326 C 432.154 486.826 432.154 485.826 431.654 485.326 C 431.154 484.826 429.154 485.826 428.654 485.326 C 428.418 485.09 428.89 484.561 428.654 484.326 C 428.389 484.061 426.066 484.326 425.654 484.326 C 422.987 484.326 420.321 484.326 417.654 484.326 C 417.044 484.326 414.044 483.936 413.654 484.326 C 413.418 484.561 413.89 485.09 413.654 485.326 C 413.154 485.826 411.154 484.826 410.654 485.326 C 410.154 485.826 410.154 486.826 409.654 487.326 C 408.987 487.992 406.321 486.659 405.654 487.326 C 405.418 487.561 405.89 488.09 405.654 488.326 C 405.183 488.797 404.125 487.854 403.654 488.326 C 403.418 488.561 403.89 489.09 403.654 489.326 C 403.183 489.797 402.125 488.854 401.654 489.326 C 401.183 489.797 402.125 490.854 401.654 491.326 C 401.154 491.826 399.154 490.826 398.654 491.326 C 398.418 491.561 398.89 492.09 398.654 492.326 C 398.154 492.826 396.154 491.826 395.654 492.326 C 395.418 492.561 395.89 493.09 395.654 493.326 C 395.155 493.825 391.437 493.326 390.654 493.326"
            );
            animation-fill-mode: forwards;
            animation-duration: 2s;
            animation-timing-function: ease-in;
        }
    }
}

#mygirl.point1 {
    offset-path: path(
        "M 481.654 524.326 C 479.987 524.326 477.832 525.504 476.654 524.326 C 476.154 523.826 476.154 522.826 475.654 522.326 C 475.418 522.09 474.89 522.561 474.654 522.326 C 474.418 522.09 474.89 521.561 474.654 521.326 C 474.183 520.854 473.125 521.797 472.654 521.326 C 472.418 521.09 472.89 520.561 472.654 520.326 C 471.987 519.659 469.321 520.992 468.654 520.326 C 468.418 520.09 468.89 519.561 468.654 519.326 C 468.154 518.826 466.154 519.826 465.654 519.326 C 465.418 519.09 465.89 518.561 465.654 518.326 C 465.183 517.854 464.125 518.797 463.654 518.326 C 463.418 518.09 463.89 517.561 463.654 517.326 C 463.154 516.826 461.154 517.826 460.654 517.326 C 460.418 517.09 460.89 516.561 460.654 516.326 C 460.183 515.854 459.125 516.797 458.654 516.326 C 458.154 515.826 458.154 514.826 457.654 514.326 C 457.183 513.854 456.125 514.797 455.654 514.326 C 455.183 513.854 456.125 512.797 455.654 512.326 C 455.418 512.09 454.89 512.561 454.654 512.326 C 454.418 512.09 454.89 511.561 454.654 511.326 C 454.154 510.826 453.154 510.826 452.654 510.326 C 452.154 509.826 452.154 508.826 451.654 508.326 C 451.418 508.09 450.89 508.561 450.654 508.326 C 450.183 507.854 451.125 506.797 450.654 506.326 C 450.418 506.09 449.89 506.561 449.654 506.326 C 449.183 505.854 450.125 504.797 449.654 504.326 C 449.418 504.09 448.89 504.561 448.654 504.326 C 448.183 503.854 449.125 502.797 448.654 502.326 C 448.154 501.826 447.154 501.826 446.654 501.326 C 446.183 500.854 447.125 499.797 446.654 499.326 C 446.418 499.09 445.89 499.561 445.654 499.326 C 445.154 498.826 445.154 497.826 444.654 497.326 C 444.418 497.09 443.89 497.561 443.654 497.326 C 443.183 496.854 444.125 495.797 443.654 495.326 C 443.418 495.09 442.89 495.561 442.654 495.326 C 442.418 495.09 442.89 494.561 442.654 494.326 C 442.183 493.854 441.125 494.797 440.654 494.326 C 440.183 493.854 441.125 492.797 440.654 492.326 C 440.154 491.826 439.154 491.826 438.654 491.326 C 438.183 490.854 439.125 489.797 438.654 489.326 C 438.183 488.854 437.125 489.797 436.654 489.326 C 436.418 489.09 436.89 488.561 436.654 488.326 C 436.127 487.799 435.321 487.659 434.654 487.326 C 434.058 487.028 433.125 487.797 432.654 487.326 C 432.154 486.826 432.154 485.826 431.654 485.326 C 431.154 484.826 429.154 485.826 428.654 485.326 C 428.418 485.09 428.89 484.561 428.654 484.326 C 428.389 484.061 426.066 484.326 425.654 484.326 C 422.987 484.326 420.321 484.326 417.654 484.326 C 417.044 484.326 414.044 483.936 413.654 484.326 C 413.418 484.561 413.89 485.09 413.654 485.326 C 413.154 485.826 411.154 484.826 410.654 485.326 C 410.154 485.826 410.154 486.826 409.654 487.326 C 408.987 487.992 406.321 486.659 405.654 487.326 C 405.418 487.561 405.89 488.09 405.654 488.326 C 405.183 488.797 404.125 487.854 403.654 488.326 C 403.418 488.561 403.89 489.09 403.654 489.326 C 403.183 489.797 402.125 488.854 401.654 489.326 C 401.183 489.797 402.125 490.854 401.654 491.326 C 401.154 491.826 399.154 490.826 398.654 491.326 C 398.418 491.561 398.89 492.09 398.654 492.326 C 398.154 492.826 396.154 491.826 395.654 492.326 C 395.418 492.561 395.89 493.09 395.654 493.326 C 395.155 493.825 391.437 493.326 390.654 493.326"
    );
    animation-name: move;

}
#mygirl.point2 {
    offset-path: path(
        "M 390.321 492.659 390.181 491.853 389.654 491.326 C 389.418 491.09 389.654 491.992 389.654 492.326 C 389.654 492.737 389.919 495.061 389.654 495.326 C 389.183 495.797 388.125 494.854 387.654 495.326 C 387.154 495.826 387.154 496.826 386.654 497.326 C 386.418 497.561 385.89 497.09 385.654 497.326 C 385.418 497.561 385.89 498.09 385.654 498.326 C 385.183 498.797 384.125 497.854 383.654 498.326 C 383.154 498.826 383.154 499.826 382.654 500.326 C 382.154 500.826 380.154 499.826 379.654 500.326 C 379.418 500.561 379.89 501.09 379.654 501.326 C 379.127 501.853 378.321 501.992 377.654 502.326 C 376.592 502.857 374.545 502.434 373.654 503.326 C 373.154 503.826 373.154 504.826 372.654 505.326 C 372.183 505.797 371.125 504.854 370.654 505.326 C 370.418 505.561 370.89 506.09 370.654 506.326 C 370.418 506.561 369.89 506.09 369.654 506.326 C 369.418 506.561 369.89 507.09 369.654 507.326 C 369.183 507.797 368.125 506.854 367.654 507.326 C 367.418 507.561 367.89 508.09 367.654 508.326 C 367.183 508.797 366.125 507.854 365.654 508.326 C 365.183 508.797 366.125 509.854 365.654 510.326 C 365.183 510.797 364.125 509.854 363.654 510.326 C 363.418 510.561 363.89 511.09 363.654 511.326 C 363.183 511.797 362.125 510.854 361.654 511.326 C 361.418 511.561 361.89 512.09 361.654 512.326 C 361.183 512.797 360.125 511.854 359.654 512.326 C 359.154 512.826 359.154 513.826 358.654 514.326 C 357.998 514.981 355.155 514.825 354.654 515.326 C 354.418 515.561 354.89 516.09 354.654 516.326 C 354.321 516.659 351.987 516.992 351.654 517.326 C 351.418 517.561 351.89 518.09 351.654 518.326 C 351.183 518.797 350.125 517.854 349.654 518.326 C 349.154 518.826 349.154 519.826 348.654 520.326 C 348.154 520.826 346.154 519.826 345.654 520.326 C 343.585 522.395 348.816 520.245 344.654 522.326 C 344.058 522.624 343.125 521.854 342.654 522.326 C 342.418 522.561 342.89 523.09 342.654 523.326 C 342.127 523.853 341.321 523.992 340.654 524.326 C 340.058 524.624 339.125 523.854 338.654 524.326 C 338.154 524.826 338.154 525.826 337.654 526.326 C 337.418 526.561 336.89 526.09 336.654 526.326 C 336.418 526.561 336.89 527.09 336.654 527.326 C 336.154 527.826 334.154 526.826 333.654 527.326 C 333.418 527.561 333.89 528.09 333.654 528.326 C 333.183 528.797 332.125 527.854 331.654 528.326 C 331.418 528.561 331.89 529.09 331.654 529.326 C 331.418 529.561 330.89 529.09 330.654 529.326 C 330.418 529.561 330.89 530.09 330.654 530.326 C 330.154 530.826 328.154 529.826 327.654 530.326 C 327.418 530.561 327.89 531.09 327.654 531.326 C 327.183 531.797 326.125 530.854 325.654 531.326 C 325.418 531.561 325.89 532.09 325.654 532.326 C 325.154 532.826 323.154 531.826 322.654 532.326 C 322.418 532.561 322.89 533.09 322.654 533.326 C 322.321 533.659 319.987 533.992 319.654 534.326 C 319.418 534.561 319.89 535.09 319.654 535.326 C 319.154 535.826 317.154 534.826 316.654 535.326 C 316.418 535.561 316.89 536.09 316.654 536.326 C 316.418 536.561 315.89 536.09 315.654 536.326 C 314.723 537.257 315.732 537.326 313.654 537.326"
    );
    animation-name: move1;

}

#mygirl.point3 {
    offset-path: path(
        "M 308.754 534.875 312.817 536.162 311.654 537.326 C 311.183 537.797 310.125 536.854 309.654 537.326 C 309.418 537.561 309.89 538.09 309.654 538.326 C 309.183 538.797 308.125 537.854 307.654 538.326 C 307.418 538.561 307.89 539.09 307.654 539.326 C 306.999 539.98 305.343 539.948 304.654 541.326 C 304.242 542.15 304.248 542.731 303.654 543.326 C 302.961 544.019 299.347 543.633 298.654 544.326 C 298.418 544.561 298.89 545.09 298.654 545.326 C 298.183 545.797 297.25 545.028 296.654 545.326 C 295.987 545.659 295.181 545.799 294.654 546.326 C 294.418 546.561 294.89 547.09 294.654 547.326 C 294.183 547.797 293.25 547.028 292.654 547.326 C 292.232 547.537 292.076 548.115 291.654 548.326 C 291.058 548.624 290.125 547.854 289.654 548.326 C 289.418 548.561 289.89 549.09 289.654 549.326 C 289.154 549.826 287.154 548.826 286.654 549.326 C 284.585 551.395 289.816 549.245 285.654 551.326 C 285.05 551.628 283.116 550.863 282.654 551.326 C 282.418 551.561 282.89 552.09 282.654 552.326 C 282.192 552.788 280.258 552.024 279.654 552.326 C 279.232 552.537 279.076 553.115 278.654 553.326 C 277.821 553.742 275.288 552.691 274.654 553.326 C 272.585 555.395 277.816 553.245 273.654 555.326 C 272.391 555.957 268.614 554.366 267.654 555.326 C 267.418 555.561 267.89 556.09 267.654 556.326 C 266.821 557.159 263.487 555.492 262.654 556.326 C 262.418 556.561 262.89 557.09 262.654 557.326 C 261.533 558.447 257.129 556.588 255.654 557.326 C 252.739 558.783 249.155 558.326 245.654 558.326 C 238.987 558.326 232.321 558.326 225.654 558.326"
    );
    animation-name: move2;

}

#mygirl.point4 {
    offset-path: path(
        "M 221.926 556.462 221.243 556.326 217.654 556.326 C 216.987 556.326 216.125 555.854 215.654 556.326 C 215.418 556.561 215.89 557.09 215.654 557.326 C 215.389 557.59 213.066 557.326 212.654 557.326 C 209.654 557.326 206.654 557.326 203.654 557.326 C 201.321 557.326 198.987 557.326 196.654 557.326 C 195.987 557.326 195.125 557.797 194.654 557.326 C 194.418 557.09 194.89 556.561 194.654 556.326 C 194.154 555.826 192.154 556.826 191.654 556.326 C 191.154 555.826 191.154 554.826 190.654 554.326 C 190.154 553.826 188.154 554.826 187.654 554.326 C 187.418 554.09 187.89 553.561 187.654 553.326 C 187.154 552.826 186.154 552.826 185.654 552.326 C 185.418 552.09 185.89 551.561 185.654 551.326 C 185.183 550.854 184.125 551.797 183.654 551.326 C 183.418 551.09 183.89 550.561 183.654 550.326 C 183.183 549.854 182.125 550.797 181.654 550.326 C 181.418 550.09 181.89 549.561 181.654 549.326 C 181.418 549.09 180.89 549.561 180.654 549.326 C 180.418 549.09 180.89 548.561 180.654 548.326 C 180.183 547.854 179.25 548.624 178.654 548.326 C 178.232 548.115 178.076 547.537 177.654 547.326 C 177.058 547.028 176.125 547.797 175.654 547.326 C 175.418 547.09 175.89 546.561 175.654 546.326 C 175.154 545.826 173.154 546.826 172.654 546.326 C 172.418 546.09 172.89 545.561 172.654 545.326 C 172.154 544.826 170.154 545.826 169.654 545.326 C 169.154 544.826 169.154 543.826 168.654 543.326 C 168.183 542.854 167.125 543.797 166.654 543.326 C 166.418 543.09 166.89 542.561 166.654 542.326 C 166.183 541.854 165.125 542.797 164.654 542.326 C 164.418 542.09 164.89 541.561 164.654 541.326 C 164.183 540.854 163.125 541.797 162.654 541.326 C 162.418 541.09 162.89 540.561 162.654 540.326 C 162.154 539.826 161.154 539.826 160.654 539.326 C 160.418 539.09 160.89 538.561 160.654 538.326 C 160.183 537.854 159.125 538.797 158.654 538.326 C 158.418 538.09 158.89 537.561 158.654 537.326 C 158.183 536.854 157.125 537.797 156.654 537.326 C 156.154 536.826 156.154 535.826 155.654 535.326 C 155.183 534.854 154.125 535.797 153.654 535.326 C 153.418 535.09 153.89 534.561 153.654 534.326 C 153.183 533.854 152.125 534.797 151.654 534.326 C 151.418 534.09 151.89 533.561 151.654 533.326 C 151.418 533.09 150.89 533.561 150.654 533.326 C 150.418 533.09 150.89 532.561 150.654 532.326 C 150.183 531.854 149.125 532.797 148.654 532.326 C 147.723 531.394 148.732 531.326 146.654 531.326"
    );
    animation-name: move3;

}

#mygirl.point5 {
    offset-path: path(
        "M 146.374 531.046 143.934 529.606 143.654 529.326 C 143.418 529.09 143.89 528.561 143.654 528.326 C 143.183 527.854 142.125 528.797 141.654 528.326 C 141.418 528.09 141.89 527.561 141.654 527.326 C 141.154 526.826 140.154 526.826 139.654 526.326 C 139.154 525.826 139.154 524.826 138.654 524.326 C 138.183 523.854 137.125 524.797 136.654 524.326 C 136.183 523.854 137.125 522.797 136.654 522.326 C 136.183 521.854 135.125 522.797 134.654 522.326 C 134.154 521.826 134.154 520.826 133.654 520.326 C 133.154 519.826 131.154 520.826 130.654 520.326 C 130.418 520.09 130.89 519.561 130.654 519.326 C 130.418 519.09 129.89 519.561 129.654 519.326 C 129.183 518.854 130.125 517.797 129.654 517.326 C 129.154 516.826 127.154 517.826 126.654 517.326 C 126.154 516.826 126.154 515.826 125.654 515.326 C 125.418 515.09 124.89 515.561 124.654 515.326 C 124.183 514.854 125.125 513.797 124.654 513.326 C 124.183 512.854 123.125 513.797 122.654 513.326 C 122.418 513.09 122.89 512.561 122.654 512.326 C 122.418 512.09 121.89 512.561 121.654 512.326 C 121.321 511.992 121.987 510.659 121.654 510.326 C 121.154 509.826 120.154 509.826 119.654 509.326 C 118.987 508.659 120.321 505.992 119.654 505.326 C 119.154 504.826 118.154 504.826 117.654 504.326 C 117.364 504.036 117.364 497.615 117.654 497.326 C 117.89 497.09 118.418 497.561 118.654 497.326 C 119.125 496.854 118.183 495.797 118.654 495.326 C 119.125 494.854 120.183 495.797 120.654 495.326 C 120.89 495.09 120.418 494.561 120.654 494.326 C 120.89 494.09 121.418 494.561 121.654 494.326 C 122.125 493.854 121.183 492.797 121.654 492.326 C 122.125 491.854 123.183 492.797 123.654 492.326 C 123.89 492.09 123.418 491.561 123.654 491.326 C 124.073 490.907 126.048 490.629 126.654 490.326 C 130.816 488.245 125.585 490.395 127.654 488.326 C 128.125 487.854 129.183 488.797 129.654 488.326 C 129.89 488.09 129.418 487.561 129.654 487.326 C 130.125 486.854 131.183 487.797 131.654 487.326 C 131.89 487.09 131.418 486.561 131.654 486.326 C 132.154 485.826 133.154 485.826 133.654 485.326 C 133.89 485.09 133.418 484.561 133.654 484.326 C 134.154 483.826 136.154 484.826 136.654 484.326 C 136.89 484.09 136.418 483.561 136.654 483.326 C 137.154 482.826 139.154 483.826 139.654 483.326 C 139.89 483.09 139.418 482.561 139.654 482.326 C 140.154 481.826 141.154 481.826 141.654 481.326 C 141.89 481.09 141.418 480.561 141.654 480.326 C 142.154 479.826 144.154 480.826 144.654 480.326 C 145.154 479.826 145.154 478.826 145.654 478.326 C 146.125 477.854 147.183 478.797 147.654 478.326 C 147.89 478.09 147.418 477.561 147.654 477.326 C 147.987 476.992 150.321 476.659 150.654 476.326 C 150.89 476.09 150.418 475.561 150.654 475.326 C 151.125 474.854 152.183 475.797 152.654 475.326 C 154.723 473.257 149.492 475.407 153.654 473.326 C 153.952 473.177 154.418 473.561 154.654 473.326 C 156.723 471.257 151.492 473.407 155.654 471.326 C 155.952 471.177 156.418 471.561 156.654 471.326 C 157.125 470.854 156.183 469.797 156.654 469.326 C 156.89 469.09 157.418 469.561 157.654 469.326 C 158.125 468.854 157.183 467.797 157.654 467.326 C 157.89 467.09 158.418 467.561 158.654 467.326 C 159.125 466.854 158.183 465.797 158.654 465.326 C 159.154 464.826 160.154 464.826 160.654 464.326 C 160.89 464.09 160.321 463.326 160.654 463.326"
    );
    animation-name: move4;
}

@keyframes move {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}
@keyframes move1 {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}
@keyframes move2 {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}
@keyframes move3 {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}
@keyframes move4 {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}
.pageloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/ball-triangle.svg") 50% 50% no-repeat black;
    opacity: 0.8;
}

.first-course {
    font-family: "a_Stamper";
    color: #c60802;
    font-size: 14.417px;
    line-height: 0.9;
    text-align: center;
    -moz-transform: matrix(0.72699027316319, -0.4229733726024, 1.21570020235108, 0.66822240031415, 0, 0);
    -webkit-transform: matrix(0.72699027316319, -0.4229733726024, 1.21570020235108, 0.66822240031415, 0, 0);
    -ms-transform: matrix(0.72699027316319, -0.4229733726024, 1.21570020235108, 0.66822240031415, 0, 0);
    position: absolute;
    left: 423.239px;
    top: 517.447px;
    z-index: 5;
    width: 90px;
}

.school-graduation {
    font-family: "a_Stamper";
    color: #036191;
    font-size: 14.674px;
    line-height: 0.482;
    text-align: center;
    -moz-transform: matrix(0.85913596566587, -0.47326851487507, 1.08933457037137, 0.56388309305942, 0, 0);
    -webkit-transform: matrix(0.85913596566587, -0.47326851487507, 1.08933457037137, 0.56388309305942, 0, 0);
    -ms-transform: matrix(0.85913596566587, -0.47326851487507, 1.08933457037137, 0.56388309305942, 0, 0);
    position: absolute;
    left: 860.363px;
    top: 173.464px;
    z-index: 6;
}
.game-navigation {
    bottom: 18px;
    left: 4px;
    width: calc(100% - 20px);
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    z-index: 5;
    &__chat,
    &__mail,
    &__raiting {
        border: 0;
        padding: 0;
        background: transparent;
        background-image: url("../images/chat.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 67px;
        height: 62px;
        cursor: pointer;
    }
    &__mail {
        background-image: url("../images/mail.png");
        width: 68px;
        height: 64px;
    }
    &__raiting {
        background-image: url("../images/raiting.png");
        width: 66px;
        height: 61px;
    }
    &__univer {
        font-size: 33.333px;
        font-family: "Cambria";
        color: rgb(252, 250, 249);
        text-align: center;
        text-shadow: 0.5px 0.866px 3px rgba(33, 30, 31, 0.004);
        background-image: url("../images/univer.png");
        background-size: contain;
        background-color: transparent;
        background-position: center;
        border: 0;
        background-repeat: no-repeat;
        width: 206px;
        height: 67px;
        cursor: pointer;
    }
}
.slider {
    background-image: url("../images/bgslider.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 63px;
    width: 536px;
    overflow: hidden;
    z-index: 1;
    padding: 0 28px;

    &__item {
        width: 50px;
        height: 63px;
        background-image: url("../images/slide.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 5px;
        position: relative;
    }
}
.slider-item-man {
    position: absolute;
    bottom: 8px;
    transform: translateX(50%);
    right: 50%;
}

.dialog {
    background-color: rgba(0, 0, 0, 0.522);
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9;

    &__content {
        transform: translate(50%, 50%);
        width: 523px;
        height: 455px;
        background-image: url("../images/dialogbg.png") !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: fixed;
        right: 50%;
        bottom: 50%;
        padding: 0 30px 35px;
    }
}
.show {
    display: block;
}

.dialog-content-table {
    padding: 30px;
    border-radius: 15px;
    background-color: #8c5a31;
    margin-top: 95px;
    height: 324px;
    width: 100%;
}

.dialog-content {
    &__header {
        background: url("../images/header-dialog.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 264px;
        height: 33px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: -16.5px;
    }
}

.dialog-content-table-header {
    background-image: url("../images/header-table.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    width: 403px;
    height: 29px;
    color: #fff;
    font-family: "Cambria";
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 6px;
    text-transform: none;
    &__place {
        margin-left: 12px;
        width: 46.7px;
    }
    &__checkbox {
        width: 30px;
        margin-left: 4px;
    }
    &__fio {
        margin-left: 4px;
        flex: 1;
    }
    &__experience {
        margin-right: 36px;
        width: 46px;
    }
}
.dialog-content-table-list {
    height: 221px;
}
.dialog-content-table-list-item {
    background-image: url("../images/row-table.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    width: 403px;
    height: 27px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #fff;
    font-family: "Cambria";
    &__place {
        margin-left: 12px;
        width: 46.7px;
        text-align: center;
    }
    &__checkbox {
        width: 30px;
        margin-left: 4px;
        position: relative;
        height: 100%;
        &.highlight {
            &::after {
                content: "";
                position: absolute;
                background-image: url("../images/friend.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
            }
        }
    }
    &__fio {
        margin-left: 4px;
        flex: 1;
    }
    &__experience {
        margin-right: 36px;
        width: 46px;
        text-align: center;
    }
}
.dialog-content-close {
    width: 26px;
    height: 26px;
    background: transparent url("../images/close.png");
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 14px;
    right: 16px;
    position: absolute;
    border: 0;
}

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -17px;
}
.game-navigation-slider {
    overflow: hidden;
}

.slider-item-add {
    border: none;
    background: transparent url("../images/add.png");
    width: 34px;
    height: 35px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
    right: -5px;
    top: -3px;
    cursor: pointer;
}
